body,
html {
    overflow-x: clip;
}

.body__margin {
    margin: 10px;
}
.popBox{
   text-align: center;
   position: absolute;
   top: 10px;
   background-color: white;

}
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar__desk {
    display: none;
}

.navbar__desk a {
    margin: 20px;
    border-bottom: solid transparent 1px;

}

.navbar__slide {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: 1s;

}

.navbar__slide p {
    text-align: center;
    margin-top: 20px;
}

.navbar__slide__close {
    text-align: right;
    margin-right: 5px;
    transition: 1s;
    cursor: pointer;
}

.slider {
    position: relative;
}

.slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    border-radius: 5px;
    z-index: 1;
}

.slider-image-container {
    display: flex;
    transition: 2s;
}

.slider-image {
    width: 100vw;
    height: 30vw;
}

.slider__desc {
    display: flex;
    justify-content: space-between;
    position: absolute;
   width: 90%;
   top: 20%;
   left: 5%;
    align-items: center;
}

.brand__container {
    display: flex;


}

.brand__container div {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.best__title {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.best__container {
    display: flex;
    gap: 10px;
}

.best__container__card {
    background-color: rgb(216, 214, 214);

    padding: 10px;
    border-radius: 20px;
    flex-basis: 25%;
    flex-grow: 1;
    margin-top: 10px;
}

/* newarrivals */
.newarrivals__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.newarrivals__card {

    flex-grow: 1;
    position: relative;
    width: 20%;
    height: 30%;

    overflow-y: hidden;
}

.newarrivals__btn {
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    font-family: bold;

}

.newarrivals__card img {
    margin: 0% auto;
    position: relative;
    width: 100%;
    height: 100%;

}

.opacity {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    opacity: 0.6;
    border-radius: 5px;

}

/* moswanted */
#mostwanted {
    margin-top: 20px;
}

.mostwanted__container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    margin-top: 2%;
    padding: 10px;
    white-space: nowarp;
}

.most__container__card {
    flex: 0 0 auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35%;
}

.most__container__card img {
    flex-shrink: 0;
    width: 100vw;
}

.sale {
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 2px;
    border-radius: 5px;
    width: 30%;
}

.like {
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* limited offer */
.limited__offer {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.limited__offer__desc {
    color: white;
    margin: 10px;
    text-align: center;
    width: 50%;
}

.limited__offer img {
    width: 50%;
    margin: 2%;
}

.join {
    text-align: center;
}

.join__inputbox {
    border: solid black 3px;
    margin-top: 10px;
    width: 80%;
    height: 50px;
}


.join__inputbox:focus {
    outline: none;
}

.join__btn {
    display: block;
    margin: 0% auto;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 200px;
}

.footer__desc {
    width: 70%;
    margin: 20px;
    padding: 20px;

}

/* contact */
.contact {
    width: 70%;
    background-color: black;
    color: white;
    height: 500px;
    margin: 0% auto;
    border-radius: 20px;
}

.contact__desc {
    margin: 30px;
}

.contact__desc input {
    width: 100%;
    height: 70px;
}

.contact__desc textarea {
    width: 100%;
    height: 90px;
}

.contact__btn {
    background-color: rgb(111, 111, 244);
    color: black;
    display: block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* collection */
#collection {
    display: flex;
    gap: 20px;
}

.collection__s1 {
    margin-top: 50px;
    position: sticky;
    top: 0;
    align-self: flex-start;

}

.collection__container__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.collection__s2 {
    border-left: solid black 1px;
}



.collection__searchbox input {
    margin-left: 20px;
    width: 50%;
}

.collection__searchbox svg {
    margin-right: 10px;
}

.collection__searchbox {
    display: flex;
    border: solid rgb(194, 192, 192) 2px;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin-top: 50px;
    align-items: center;
    margin: 50px auto;
    justify-content: space-between;
}

.collection__searchbox input:focus {
    outline: none;
}


.product__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-wrap: warp;
}

.product__card {
    text-align: center;
    width: 30%;
}
.product__card img{
    width: 100%;
    height: 75%;
}


.signUpbg {
    background-image: url(https://img.freepik.com/free-vector/background-luxury-minimalist-gradient-style-design_698780-702.jpg);
    width: 100%;
    height: 100vh;
    overflow: clip;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  
}

/* media queries for moblie view */
@media(min-width:0px) and (max-width:546px) {
    body {
        font-size: 15px;
    }

    .best__title {
        font-size: 10px;
    }

    .best__container__card {
        font-size: 7px;
    }

    .navbar__slide {
        font-size: 15px;
    }

    .slider__desc {
       
        font-size: 13px;
    }



    .newarrivals__btn {
font-size: 7px;
        border-radius: 20px;
    }



    .sale {
        font-size: 10px;
    }

}

/* media queries for tablet mobile */
@media(min-width:546px) and (max-width:768px) {
    body {
        font-size: 20px;
    }

    .best__title {
        font-size: 15px;
    }

    .best__container__card {
        font-size: 13px;
    }

    .slider__desc {
        
        font-size: 20px;
    }

    .newarrivals__btn {
font-size: 10px;
        border-radius: 20px;
    }



    .sale {

        font-size: 20px;
    }
}

/* media queries for tablet */
@media(min-width:768px) and (max-width:992px) {
    body {
        font-size: 20px;
    }

    .best__container__card {
        font-size: 13px;
    }

    .slider__desc {
       
        font-size: 30px;
    }

    .navbar__menuicon {
        display: none;
    }

    .navbar__desk {
        display: flex;
    }

    .navbar__desk a:hover {
        border-bottom: solid black 1px;
    }



    .newarrivals__btn {
        font-size: 20px;
        border-radius: 20px;
    }

    .sale {
        font-size: 25px;
    }
}

/* media queries for desktop */
@media(min-width:992px) and (max-width:1000px) {
    body {
        font-size: 20px;
    }

    .slider__desc {
      
        font-size: 30px;
    }

    .navbar__menuicon {
        display: none;
    }

    .navbar__desk {
        display: flex;

    }

    .navbar__desk a:hover {
        border-bottom: solid black 1px;
    }

    .newarrivals__btn {

        border-radius: 20px;
    }

    .limited__offer__desc {

        font-size: 30px;
    }

    .sale {
        font-size: 35px;
    }


}

/* media queries for big screen */
@media(min-width:1000px) and (max-width:1552px) {
    body {
        font-size: 20px;
    }


    .slider__desc {
 
        font-size: 60px;
    }

    .navbar__menuicon {
        display: none;
    }

    .navbar__desk {
        display: flex;

    }

    .navbar__desk a:hover {
        border-bottom: solid black 1px;
    }

    .newarrivals__btn {

        border-radius: 20px;
    }

    .limited__offer__desc {

        font-size: 30px;
    }

    .sale {
        font-size: 35px;
    }

}